<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>Via</string>
        <key>CFBundleIconFile</key>
        <string>application.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.simunto.via</string>
        <key>CFBundleDisplayName</key>
        <string>Simunto Via</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>Via</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>21.1</string>
        <key>CFBundleVersion</key>
        <string>21.1</string>
        <key>CFBundleSignature</key>
        <string>sVia</string>
        <key>NSHumanReadableCopyright</key>
        <string>2020 Simunto GmbH</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.7</string>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.productivity</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>JVMRuntime</key>
        <string>adoptopenjdk-11.jdk</string>
        <key>JVMMainClassName</key>
        <string>com.simunto.via.Via</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>via</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>file-via.icns</string>
                <key>CFBundleTypeName</key>
                <string>Via Data</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
        </array>
        <key>LSArchitecturePriority</key>
        <array>
        </array>
        <key>LSEnvironment</key>
        <dict>
            <key>LC_CTYPE</key>
            <string>UTF-8</string>
        </dict>
        <key>JVMOptions</key>
        <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
            <string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
            <string>-Dcom.apple.macos.useScreenMenuBar=true</string>
            <string>-Dfile.encoding=UTF-8</string>
            <string>-Dhttps.protocols=TLSv1,TLSv1.1,TLSv1.2</string>
        </array>
        <key>JVMDefaultOptions</key>
        <dict>
            <key>Xmx</key>
            <string>-Xmx6000M</string>
        </dict>
        <key>JVMArguments</key>
        <array>
        </array>
    </dict>
</plist>

